<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hust.communityInfo">

	<select id="selectCommunityByName" resultType="com.hust.entity.Community" parameterType="String">
		select * from community where name=#{name}
	</select>
</mapper>